# IC Synthesis Artifacts
*.v.bak
*.log

# Output
03_output/
04_logs/

# Synthesized DB
01_lib/*.db
01_lib/*.lib

# lc_shell cache
alib-52/

# Work directory
work/

# OS junk
.DS_Store

# DC synthesis artifacts
*.mr
*.pvl
*.syn
*.svf
PICORV32*.mr
PICOSOC*.mr
SIMPLEUART.mr
SPIFLASH.mr
SPIMEMIO*.mr

# Individual output dirs (generated)
03_output_*/
